* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  width: 100%;
  height: calc(100% - 90px);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
#nav_box {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: #000000;
  overflow-y: hidden;
  min-height: 350px;
}

#top_nav_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 90px);
  overflow: hidden;
}
#logo_spoty {
  margin-top: 15px;
  padding-left: 15px;
}
#nav_box img {
  width: 130px;
}

#home_nav_list {
  padding-bottom: 15px;
  padding-left: 0;
}
#home_nav_list a {
  padding-left: 15px;
}

.my_nav_list {
  list-style: none;
}
#home_nav_list .my_nav_list .fa-spotify {
  display: none;
}

.active {
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  display: block;
  width: 3px;
  height: 20px;
  background-color: green;
}

#playlist_nav_list {
  overflow: hidden;
  padding-left: 15px;
}
#playlist_nav_list h2 {
  font-size: 14px;
  color: white;
  padding-bottom: 10px;
  /* margin-left: 20px; */
}
#plus_button {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #A3A3A3;
}
#btn_plus_box {
  padding-bottom: 15px;
}
#icon_plus_box {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: gray;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}
#icon_plus_box:hover {
  background-color: white;
}
#icon_plus_box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
#playlist_nav_list #btn_plus_box #create_playlist {
  font-size: 13px;
}

#playlist_nav_list a {
  font-size: 12px;
}
#plus_button:hover {
  background-color: white;
  cursor: pointer;
}
#home_nav_list .my_nav_list i {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
#playlists {
  height: 80%;
  overflow: auto;
}
#create_playlist {
  font-size: 13px;
  font-weight: 700;
}
.my_nav_list li {
  padding-bottom: 10px;
}
#nav_box a {
  font-size: 11px;
  color: gray;
  font-weight: 700;
  text-decoration: none;
}
#nav_box a:hover {
  color: white;
}

#bottom_nav_box {
  width: 100%;
  height: 90px;
  padding-left: 15px;
}
#install_app {
  margin-right: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #A3A3A3;
}
#bottom_nav_box i {
  margin-right: 10px;
}

#jhon_doe {
  margin-top: 15px
}
#jhon_doe i {
  font-size: 25px;
  vertical-align: middle;
  color: gray;
}
#jhon_doe span {
  font-size: 12px;
  font-weight: 700;
  color: white;
}


#content_box {
  width: calc(100% - 250px);
  background-color: #141922;
  overflow-y: scroll;
}
#content_box h2, h3 {
  font-weight: 700;
  color: white;
}
#content_box h3 {
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 10px;
}
#content_box h4 {
  font-size: 11px;
  color: gray;
}

#fixed_upgrade_box {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 90px;
  background-color: rgba(8, 11, 18, 0.3);
  z-index: 10;
}
#upgrade_button_box {
  margin-right: 20px;
}
#upgrade_button_box a {
  display: inline-block;
  width: 200px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 30px;
  line-height: 40px;
  text-align: center;
  transition: 0.4s ease;
}
#upgrade_button_box a:hover {
  transform: scale(1.1);
}

#content_evidence_list {
  margin-top: 90px;
}
.flex_list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
.flex_list li {
  padding: 10px;
}
.flex_list a {
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  color: #787A7F;
}
.flex_list a:hover {
  color: white;
}

.class_active::after {
  content: "";
  position: relative;
  left: 26%;
  display: block;
  width: 40px;
  height: 3px;
  background-color: green;
}

#recently_box {
  width: 100%;
}
#recently_box h2 {
  padding: 30px 20px;
}

.albums_container {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
  width: 100%;
}
.albums_box {
  width: calc(100% / 6);
  padding: 10px 15px;
  text-align: center;
}
.albums_box img {
  width: 100%;
}
.absolute_albums_box {
  position: relative;
  font-size: 0;
}
.absolute_album {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#popular_artist_box .absolute_albums_box .radious_absolute {
  border-radius: 100%;
}
.albums_box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  text-decoration: none;
}
.absolute_albums_box:hover .absolute_album {
  display: inline-block;
}

#created_for_box {
  width: 100%;
}
.padding_h2 {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.padding_h4 {
  padding-left: 20px;
  padding-bottom: 20px;
}

#popular_artist_box img {
  border-radius: 100%;
}



footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: #282828;
}
#footer_left_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100%;
  padding-left: 10px;
}
#image_and_name {
  display: flex;
  justify-content: center;
  align-items: center;
}
#image_and_name img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
#song_name {
  display: inline-block;
}
#song_name h4 {
  font-size: 12px;
  font-weight: 700;
  color: white;
}
#song_name a {
  font-size: 10px;
  font-weight: 700;
  color: gray;
  text-decoration: none;
}
#song_name a:hover {
  text-decoration: underline;
  color: white;
}

#hearth_folder i {
  padding-right: 10px;
  color: gray;
}
#hearth_folder i:hover {
  color: white;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: white;
  cursor: pointer;
}

#footer_mid_box {
  width: 40%;
  height: 100%;
  padding-top: 10px;
}
#player_footer_list {
  text-align: center;
}
#footer_inline_list li {
  font-size: 15px;
  display: inline-block;
  padding: 0 5px;
}
#footer_inline_list i {
  color: white;
  transition: 0.4s ease;
}
#footer_inline_list i:hover {
  transform: scale(1.1);
}

#footer_inline_list li:nth-child(3) {
  font-size: 25px;
  vertical-align: middle;
  padding: 0 10px;
}
#player_bar_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5px;
}
#player_bar_box span {
  font-size: 12px;
  color: white;
  padding: 0 10px;
}
#time_start {
  width: 10%;
}
#player_bar_container {
  width: 90%;
}
#time_end {
  width: 10%;
}

#footer_right_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100%;
}
#footer_right_audio {
  width: 35%;
  text-align: right;
}
#footer_right_bar {
  width: 60%;
  padding-right: 10px;
}
.list_inline li {
  display: inline-block;
  list-style: none;
  padding-left: 10px;
}
.list_inline a {
  font-size: 10px;
  color: white;
}


@media screen and (max-width: 1199px) {

  .albums_box {
    width: calc(100% / 4);
}

@media screen and (max-width: 991px) {

  .albums_box {
    width: calc(100% / 2);
  }

  #footer_left_box {
    width: 200px;
  }
  #hearth_folder a {
    display: block;
    text-decoration: none;
    padding-left: 0 15px;
  }

  #footer_mid_box {
    width: 40%;
  }
  }
  #player_bar_container {
    width: 70%;
    /* width: 50%; */
  }
  #player_bar_box {
    padding-top: 10px;
  }

  #footer_right_box {
    width: 200px;
  }
  #footer_right_audio {
    width: 45%;
  }
  #footer_right_bar {
    width: 50%;
  }

}




@media screen and (max-width: 767px) {

  #nav_box {
    width: 50px;
    /* padding: 5px 0; */
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
  }
  #nav_box a {
    padding: 0;
    margin: 0;
  }
  #nav_box .my_nav_list i {
    padding: 0;
    margin: 0;
  }
  .active::after {
    display: none;
  }

  #content_box {
    width: calc(100% - 50px);
  }

  #fixed_upgrade_box {
    width: calc(100% - 50px);
  }

  #home_nav_list .my_nav_list .fa-spotify {
    display: block;
  }

  #logo_spoty {
    display: none;
  }

  #home_nav_list .my_nav_list span {
    display: none;
  }

  #playlist_nav_list {
    display: none;
  }

  #bottom_nav_box {
    display: flex;
    flex-direction: column;
  }

  #install_app {
    border-bottom: none;
    margin: auto;
  }
  #jhon_doe {
    margin: auto;
  }

  #bottom_nav_box span {
    display: none;
  }

  #footer_left_box {
    width: 150px;
  }
  #image_and_name img {
    width: 30px;
    height: 30px;
  }

  #hearth_folder i {
    font-size: 12px;;
  }
  #footer_inline_list li {
    font-size: 12px;
 }
 #footer_inline_list li:nth-child(3) {
   font-size: 18px;
 }
 #player_bar_box span {
   font-size: 8px;
   padding: 0 5px;
 }
  #footer_right_box {
    width: 150px;
  }
  #footer_inline_list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list_inline li {
    padding-left: 5px;
  }
  .list_inline a {
    font-size: 8px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 443px) {

  main {
    height: calc(100% - 130px);
  }

  footer {
    position: relative;
    display: flex;
    height: 130px;
  }
  #footer_left_box {
    width: 50%;
    height: 50%;
    align-self: flex-end;
  }
  #footer_mid_box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  }
  #footer_inline_list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer_inline_list li {
    font-size: 15px;
    padding: 0 20px;
  }
  #footer_inline_list li:nth-child(3) {
    font-size: 25px;
    padding: 0 10px;
  }
  #footer_right_box {
    width: 50%;
    height: 50%;
    align-self: flex-end;
  }

}
